.cell .file-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cell .file-container > .icon {
  font-size: 24px;
  margin-left: 5px;
  color: #687494;
}
