.cell .file-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cell .file-container > .icon {
  margin: 0 0 0 5px;
  color: #687494;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
}
